body
{
  background-color: #fff3b7; /* fff7cf är ljusare */
  font-family: helvetica;
  overflow-y: scroll;
}
abbr
{
  border-bottom: 1px dotted black;
}
abbr[data]:hover:after
{
  content: attr(data);
  padding: 4px 8px;
  color: #333;
  position: absolute;
  z-index: 20;
  white-space: nowrap;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 0px 4px #222;
  -webkit-box-shadow: 0px 0px 4px #222;
  box-shadow: 0px 0px 4px #222;
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #eeeeee),color-stop(1, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
}
#content
{
  margin-left: auto;
  margin-right: auto;
  width: 815px;
  min-width: 500px;
  text-align: left;
}
.article
{
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 5px;
  margin-top: 10px;
  word-wrap: break-word;
  position: relative;
}
.article > img
{
  position: absolute;
  bottom: 3px;
  right: 3px;
  height: 120px;
}
.simpson
{
  position: absolute;
  bottom: 15px;
  right: 3px;
  height: 120px;
}
.articleAuthor
{
  font-size: 15px;
  font-style: italic;
  margin-bottom: 0px;
}
.articleDate
{
  font-size: 14px;
  font-style: italic;
  color: #888;
  margin-top: -5px;
  margin-bottom: 5px;
}
.articleTitle
{
  margin-top: 0px;
  margin-bottom: 5px;
}
