
.event
{
  word-break: break-all;
}
#calCaption { width: 200px; display: inline-block;}
#calHeader
{
  padding-top: 5px;
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
  margin: 10px;
}
#calHeader a { font-size: 12px; }
#calHeader img { width: 20px; }
#reverse
{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
table
{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
}
table td
{
  vertical-align: top;
  background-color: #eea;
  width: 105px;
  height: 75px;
  max-height: 75px;
  padding: 0px;
}
.day p
{
  background-color: #fff;
  border-bottom-right-radius: 10px;
  text-align: center;
  width: 20px;
  margin: 0px;
}
.day span
{
  display: block;
  background-color: #ee0;
  width: 100px;
  border-radius: 5px;
  font-size: 12px;
  margin: 2px;
  padding: 0px;
  max-height: 50px;
}
.day span a {
  text-decoration: none;
  color: black;
}
#today_date { border: 1px solid black; }
