nav
{
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin: 0;
  padding: 0;
  width: 600px;
  height: 50px;
  background-color: #ffd90f;
  z-index: 1;
}
nav ul
{
  padding: 0;
  margin: 0;
  text-align: justify;
}
nav ul li
{
  list-style-type: none;
  display: inline-block;
  width: auto;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
}
nav ul li:hover, nav ul li.active
{
  height: 10px;
  vertical-align: top;
  background-color: #e5c30d;
}
nav ul li a
{
  display: inline-block;
  width: auto;
  margin-left: 10px;
  margin-right: 10px;
  height: 50px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 16px;
  color: #000000;
}
nav ul li a:visited {color: #000000;}
nav ul li a:active {color: #ffffff;}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}
